.au-list-item {
  display: flex;
  flex-flow: column nowrap;

  &__background {
    @include background-image;
    position: relative;
    height: 100px;
    width: 100%;
    padding: $margin-sm;
    overflow: hidden;
  }

  &__meta {
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: $margin-md;
  }

  &__title {
    width: 100%;
    margin-bottom: $margin-md;
  }

  &__description {
    width: 100%;
    color: rgba(255,255,255,.3);
    font-weight: $font-weight-thin;
  }
}
