.au-list {
  @include full-size;

  &__items {
    display: flex;
    flex-flow: row wrap;
    gap: $margin-lg;
    margin: $margin-lg;
  }

  &__item {
    height: 200px;
    width: 200px;
    max-width: 400px;
    flex-grow: 1;
    background-color: #262626;
    color: $brand-color-white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      box-shadow: $box-shadow-far;
    }

    &--ADD {
      @include flex-center-content;
      font-size: $font-size-desktop-splash;
      color: $brand-color-black;
    }
  }

  &__no-content {
    width: 100%;
    text-align: center;
    padding: $margin-xl;
  }
}
