.au-list {
  @include full-size;
  overflow-y: auto;

  &__items {
    display: flex;
    flex-flow: row wrap;
    gap: $margin-lg;
    margin: $margin-lg;
  }

  &__item {
    height: 200px;
    width: 200px;
    max-width: 400px;
    flex-grow: 1;
    background-color: #262626;
    color: $brand-color-white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      box-shadow: $box-shadow-far;
    }

    &--ADD {
      @include flex-center-content;
      position: fixed;
      bottom: 0;
      left: 0;
      height: 100px;
      width: 100%;
      max-width: 100%;
      font-size: 52px;
      background-color: transparent;
      color: rgba(255,255,255,.5);
      pointer-events: none;

      &:hover {
        box-shadow: none;
      }

      @include size('tablet') {
        position: relative;
        height: 200px;
        width: 200px;
        max-width: 400px;
        font-size: $font-size-desktop-splash;
        flex-grow: 1;
        background-color: #262626;
        color: $brand-color-black;
        pointer-events: auto;

        &:hover {
          box-shadow: $box-shadow-far;
        }
      }
    }

    &-icon {
      pointer-events: auto;
    }
  }

  &__no-content {
    width: 100%;
    text-align: center;
    padding: $margin-xl;
  }
}
