.index-page {
  @include full-view-port;
  overflow: hidden;

  &__content {
    @include full-size;
    @include flex-center-content;
    z-index: 1;
  }

  &__list {
    @include flex-center-content;
    @include position();
    @include full-size;
    z-index: 2;
    background-color: $brand-color-red;
  }

  &__login {
    position: fixed;
    top: $margin-xl;
    right: $margin-xl;
    z-index: 10;
    cursor: pointer;
  }
}
